In [17]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [18]:
data_path = "/home/maksim/ml/datasets/Почищенный датасет с нормализованным эстимейтом - data_set_last7.csv"
data = pd.read_csv(data_path)

In [19]:
data.head()

,sale_date,Price,Author,Art,Owner,Sign,Technique,Material,Nazi,Framed,...,month,year,deal_time_(utc),normalized_price,hasFollowers,hasAfter,isUntitled,isNumbered,normalized_estimatefrom,normalized_estimateto
0,10.12.2018,93750,willem de kooning,UNTITLED (WOMAN),-,1,oil,paper,0,0,...,12,2018,17:00,91630.99,0,1,1.0,1.0,71268.55,91630.99
1,10.12.2018,52500,willem de kooning,UNTITLED (STILL LIFE),-,1,oil,board,0,0,...,12,2018,17:00,91630.99,0,1,1.0,0.0,71268.55,91630.99
2,05.03.2020,740000,georgia o′keeffe,UNTITLED (ALLIGATOR PEAR IN RED DISH),-,0,oil,canvas,0,0,...,3,2020,15:00,500000.00,0,0,1.0,0.0,300000.00,500000.00
3,10.12.2018,8125,franz kline,UNTITLED,-,1,oil,canvas,0,0,...,12,2018,17:00,8144.98,0,0,1.0,0.0,6108.73,8144.98
4,10.12.2018,40000,franz kline,UNTITLED,-,1,ink,paper,0,0,...,12,2018,17:00,35634.27,0,0,1.0,0.0,25453.05,35634.27

In [20]:
data.shape

(14537, 45)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14537 entries, 0 to 14536
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sale_date                14537 non-null  object
 1   Price                    14537 non-null  int64
 2   Author                   14537 non-null  object
 3   Art                      14537 non-null  object
 4   Owner                    14537 non-null  object
 5   Sign                     14537 non-null  int64
 6   Technique                14537 non-null  object
 7   Material                 14537 non-null  object
 8   Nazi                     14537 non-null  int64
 9   Framed                   14537 non-null  int64
 10  Size                     14537 non-null  object
 11  square_m                 14537 non-null  float64
 12  Currency                 14537 non-null  object
 13  EstimateFrom             14537 non-null  int64
 14  EstimateTo               14537 non-null  int64
 15  ExhibitedNum             14537 non-null  int64
 16  ProvenanceNum            14537 non-null  int64
 17  LiteratureNum            14537 non-null  int64
 18  CataloguingLength        14537 non-null  int64
 19  Time                     14536 non-null  object
 20  City                     14536 non-null  object
 21  Description              14537 non-null  object
 22  tried_url                14537 non-null  object
 23  Image                    14028 non-null  object
 24  date_of_birth            14537 non-null  int64
 25  date_of_death            13435 non-null  float64
 26  century                  14537 non-null  int64
 27  nationality              14537 non-null  object
 28  sex                      14537 non-null  object
 29  style                    14537 non-null  object
 30  repeat_sale              14537 non-null  int64
 31  feature1                 7787 non-null   object
 32  feature2                 333 non-null    object
 33  number_of_day            14537 non-null  int64
 34  day_of_week              14537 non-null  object
 35  month                    14537 non-null  int64
 36  year                     14537 non-null  int64
 37  deal_time_(utc)          14536 non-null  object
 38  normalized_price         14537 non-null  float64
 39  hasFollowers             14537 non-null  int64
 40  hasAfter                 14537 non-null  int64
 41  isUntitled               14528 non-null  float64
 42  isNumbered               14531 non-null  float64
 43  normalized_estimatefrom  14537 non-null  float64
 44  normalized_estimateto    14537 non-null  float64
dtypes: float64(7), int64(18), object(20)
memory usage: 5.0+ MB

In [22]:
data.describe()

,Price,Sign,Nazi,Framed,square_m,EstimateFrom,EstimateTo,ExhibitedNum,ProvenanceNum,LiteratureNum,...,number_of_day,month,year,normalized_price,hasFollowers,hasAfter,isUntitled,isNumbered,normalized_estimatefrom,normalized_estimateto
count,1.453700e+04,14537.000000,14537.000000,14537.000000,14537.000000,1.453700e+04,1.453700e+04,14537.000000,14537.000000,14537.000000,...,14537.000000,14537.000000,14537.000000,1.453700e+04,14537.000000,14537.000000,14528.000000,14531.000000,1.453700e+04,1.453700e+04
mean,1.820069e+06,0.874802,0.006122,0.228245,0.552235,9.381367e+05,1.327352e+06,1.065488,2.316572,0.979225,...,188.134760,6.759097,2012.734677,1.167044e+06,0.015065,0.742382,0.086523,0.256693,8.245367e+05,1.167044e+06
std,8.020632e+06,0.330954,0.078008,0.419716,0.977473,3.246883e+06,4.521508e+06,2.375457,2.652829,1.953077,...,99.967006,3.278366,4.489666,4.074768e+06,0.121816,0.437338,0.281144,0.436823,2.927213e+06,4.074768e+06
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,18.000000,1.000000,2000.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,2.750000e+04,1.000000,0.000000,0.000000,0.128700,1.500000e+04,2.000000e+04,0.000000,0.000000,0.000000,...,97.000000,4.000000,2009.000000,2.545305e+04,0.000000,0.000000,0.000000,0.000000,1.800000e+04,2.545305e+04
50%,1.500000e+05,1.000000,0.000000,0.000000,0.309800,8.000000e+04,1.200000e+05,0.000000,2.000000,0.000000,...,171.000000,6.000000,2013.000000,9.849507e+04,0.000000,1.000000,0.000000,0.000000,7.150023e+04,9.849507e+04
75%,9.050000e+05,1.000000,0.000000,0.000000,0.609000,5.000000e+05,7.000000e+05,1.000000,4.000000,1.000000,...,292.000000,10.000000,2017.000000,5.890975e+05,0.000000,1.000000,0.000000,1.000000,4.169272e+05,5.890975e+05
max,5.103710e+08,1.000000,1.000000,1.000000,28.000000,9.000000e+07,1.200000e+08,39.000000,24.000000,44.000000,...,354.000000,12.000000,2020.000000,9.474642e+07,1.000000,1.000000,1.000000,1.000000,9.474642e+07,9.474642e+07

In [23]:
cor_price = data.corr().Price
cor_price[np.abs(cor_price) > 0.1]

Price                      1.000000
square_m                   0.311548
EstimateFrom               0.609508
EstimateTo                 0.606722
ExhibitedNum               0.203081
ProvenanceNum              0.102221
LiteratureNum              0.266750
normalized_price           0.425319
normalized_estimatefrom    0.427860
normalized_estimateto      0.425319
Name: Price, dtype: float64